<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KSU CROCv2 testing E-Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="header-inner">
        <a class="logo" href="{{ url_for('index') }}">KSU CROCv2 testing E-Log</a>
        <nav>
            <a href="{{ url_for('index') }}">Log book</a>
            <a class="button" href="{{ url_for('new_log') }}">+ New Log</a>
        </nav>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
