{% extends "base.html" %}

{% block content %}

<div class="log-header">
    <div>
        <div class="log-card-top">
            <span class="type">{{ log.log_type }}</span>
            
        </div>

        <h1>{{ log.title }}</h1>

        <div class="metadata">
            {{ log.author.name }}
            · {{ log.created_at.strftime("%Y-%m-%d %H:%M") }}
            {% if log.subsystem %}
                · {{ log.subsystem }}
            {% endif %}
        </div>
    </div>

</div>

<section class="log-section">
    <h2>Report</h2>
    <div class="log-text">{{ log.result or "—" }}</div>
</section>

<hr>

<h2>Comments</h2>

{% if log.comments %}
    {% for comment in log.comments %}
        <div class="comment">
            <div class="comment-header">
                <strong>{{ comment.author.name }}</strong>
                <span>
                    {{ comment.created_at.strftime("%Y-%m-%d %H:%M") }}
                </span>
            </div>

            <div class="comment-text">
                {{ comment.text }}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No comments yet.</p>
{% endif %}


<h3>Add Comment</h3>

<form method="POST"
      action="{{ url_for('add_comment', log_id=log.id) }}">

		<div>
			<label for="author_name">Name</label>

		<input
			type="text"
			name="author_name"
			id="author_name"
			required
			placeholder="Enter your name..."
		>

		</div>


    <div>
        <label for="text">Comment</label>

        <textarea
            name="text"
            id="text"
            rows="4"
            required
            placeholder="Add a comment..."
        ></textarea>
    </div>

    <button type="submit">Add Comment</button>

</form>

{% endblock %}

