{% extends "base.html" %}

{% block content %}

<div class="log-header">
    <div>
        <div class="log-card-top">
            <span class="type">{{ log.log_type }}</span>
            
        </div>

        <h1>{{ log.title }}</h1>

        <div class="metadata">
            <strong>{{ log.author.name }}</strong>
            · {{ log.created_at.strftime("%Y-%m-%d %H:%M") }}
            {% if log.subsystem %}
                · {{ log.subsystem }}
            {% endif %}
        </div>
    </div>

</div>

<section class="log-section">
    <div class="log-text">{{ log.result or "—" }}</div>
</section>

{% if log.attachments %}
    <div class="attachments">
        {% for attachment in log.attachments %}
            <div class="attachment">
                📎
                <a href="{{ url_for('download_attachment', attachment_id=attachment.id) }}">
                    {{ attachment.filename }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}

<hr>

{% if log.comments %}
    {% for comment in log.comments %}
        <div class="comment">
            <div class="metadata">
                <strong>{{ comment.author.name }}</strong>
     
                <span>
                    {{ comment.created_at.strftime("%Y-%m-%d %H:%M") }}
                </span>
            </div>
            <div class="comment-text">
                {{ comment.text }}
            </div>
            {% if comment.attachment_filename %}
				<div class="comment-attachment">
					📎
					<a href="{{ url_for('download_comment_attachment', comment_id=comment.id) }}">
					{{ comment.attachment_filename }}
					</a>
				</div>
			{% endif %}
        </div>
		<hr>
    {% endfor %}
{% endif %}


<h3>Add Comment</h3>

<form method="POST"
      action="{{ url_for('add_comment', log_id=log.id) }}"
      enctype="multipart/form-data">

    <div>
        <label for="author_name">Name</label>
        <input
            type="text"
            name="author_name"
            id="author_name"
            required
            placeholder="Enter your name..."
        >
    </div>

    <div>
        <label for="text">Comment</label>
        <textarea
            name="text"
            id="text"
            rows="4"
            required
            placeholder="Add a comment..."
        ></textarea>
    </div>

    <div>
        <label for="file">Attachment (optional)</label>
        <input
            type="file"
            name="file"
            id="file"
        >
    </div>

    <button type="submit">Add Comment</button>

</form>

{% endblock %}


